# Ide File
.vscode/workspace.code-workspace
# binaries
Scraps/Python/MachineLearning/visualize.pyc
Scraps/Untitled-1.txt
Scraps/Python/functional/infinite_list.pyc

*.settings
*.tmp
*.code-workspace
*.classpath
*.project

/target/
/Scraps/java/*/bin/
*.class
Scraps/Python/py_scraps/.idea
